[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
wemake-python-styleguide = "*"

[packages]
pydub = "*"
google-cloud-speech = "*"
django = "==2.2.12"
djangorestframework = "==3.9"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
